@charset "utf-8"; 

:root {
  --color-bg-normal-mode:#fdfffd;
  --color-bg-dark-mode:#f7eaea;
  --color-gray:#d1d1d1;
  --colo-text:#000;
  --color-active:#f16e03;
  --color-scrollbar:#aaa7a7;
}

html, body {
  height:100%;
}

html.dark {
  --color-bg-dark-mode:#1a1c35;
  --colo-text:#fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#ccc;
  accent-color:var(--color-active);
}

* {
  box-sizing: border-box; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding:0;
  margin:0;
  list-style:none;
}

button {
  border:0 none;
  background:none;
  cursor:pointer;
}

#root {
  width:100%;
  max-width:calc(100% - 150px);
  padding:0 0 20px;
  border-radius:1rem;
  margin:0 auto;
  background:var(--color-bg-dark-mode);
}

::-webkit-scrollbar {
  width:0.5rem;
}

::-webkit-scrollbar-track {
  background:var(--color-bg-dark-mode);
}

::-webkit-scrollbar-thumb {
  background:var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--color-active);
}